root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{ex,eex,exs}]
indent_size = 2

[*.yml]
indent_size = 2

[*.cr]
indent_size = 2

[*.clj]
indent_size = 2

[{*.groovy,*.gradle}]
indent_size = 2

[*.go]
indent_style = tab
indent_size = 8

[{Makefile,**.mk}]
indent_style = tab

[Dockerfile]
indent_size = 2

[python/tests/test_day05.py]
trim_trailing_whitespace = false
